@font-face {
    font-family: NunitoLight;
    src: url('/fonts/Nunito/static/Nunito-Regular.ttf');
}

:root {
    --blu1: #1D3461;
    --blu2: #1F487E;
    --blu3: #0d6efd;
    --bigRadius: 32px;
    --mediumRadius: 16px;
    --smallRadius: 8px;
    --mainFont: NunitoLight;
    --shadow1: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (prefers-color-scheme: dark) {
    :root {

    }
}

* {
    font-family: var(--mainFont);
}

html, body {
    font-family: var(--mainFont);
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--blu2);
    border-radius: var(--smallRadius);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--blu3);
}

@media (prefers-color-scheme: dark) {

}
