.landingImageContainer {
    position: relative;
    background-size: contain;
    min-height: 100vh;
    width: 100%;
    background: url("/images/negroni.jpg") bottom;
}

.overlayLandingPage {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;

    background-color: rgba( 0, 0, 0, .6 );
    z-index: 1;
}

.titleLandingAnimation {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
    z-index: 2;
    margin-top: 10rem;
    margin-left: 10rem;

    font-size: xxx-large;
    color: whitesmoke;
}

.descriptionLandingAnimation {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
    z-index: 2;
    margin-left: 10rem;

    font-size: xx-large;
    color: whitesmoke;
}

/** Animazione in intestazione */
.titleLandingAnimation:last-of-type {
    width:0;
    animation: reveal 3s infinite;
    animation-iteration-count: 1;
}

.descriptionLandingAnimation:last-of-type h2 {
    animation: slidein 5s infinite;
    animation-iteration-count: 1;
}

@keyframes slidein {
    0%   { margin-left: -800px; }
    20%  { margin-left: -800px; }
    35%  { margin-left: 0; }
    100% { margin-left: 0; }
}

@keyframes reveal {
    0%   { opacity: 0; width: 0; }
    20%  { opacity: 1; width: 0; }
    30%  { width: 355px; }
    80%  { opacity: 1; }
    100% { opacity: 0; width: 355px; }
}

/** Ricerca e filtri cocktail */
.headerSearch {
}

/*.mainContainer {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}*/

.formContainer {
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;

    box-shadow: var(--shadow1);
    border-radius: var(--bigRadius);

}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.galleryContainer {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.drinksContainer {
    max-width: 1500px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;

    margin-left: 1rem;
    margin-right: 1rem;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.overlayImg {
    opacity: 0;
}

.overlayImg:hover {
    opacity: 100;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
    height: fit-content;
}

.bookMarkIcon {
    font-size: x-large;
}


@media only screen and (max-width: 1200px) {
    .form {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }

    .headerContainer {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;

        margin-left: 1rem;
        margin-right: 1rem;
    }

    .paginationContainer {
        overflow-x: scroll;
        width: 100%;
    }
}
